.sidebar {
	width: var(--sidebar-size);
	height: var(--main-height);
	overflow-x: hidden;
	overflow-y: hidden;

	background-color: rgba(100, 100, 100, 0.1);
}

.title {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;

	h1 {
		margin-left: 1rem;
	}
}

.card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	padding-top: 2rem;
	padding-bottom: 2rem;

	.cardInfo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 1rem;
	}

	img {
		border-radius: 100px;
	}
}

.mainOptions {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;

	& > * {
		margin-left: 4rem;
	}

	a {
		color: white;
	}
}

.library {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;

	margin-top: 3rem;

	& > * {
		margin-left: 4rem;
	}

	a {
		color: white;
	}
}

.player {
	$margin: 4rem;

	width: calc(var(--sidebar-size) - $margin);
	height: var(--player-height);

	padding-left: $margin;

	position: fixed;

	bottom: 0;
}

.playerInfo {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.innerInfo {
	display: flex;
	gap: 1rem;
}

.icons {
	height: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	gap: 1rem;

	button {
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
}
