.layout {
	display: grid;
	grid-template-columns: var(--sidebar-size) 1fr;
}

.container {
	display: grid;
	grid-template-rows: 1fr 100px;
}

.mainContainer {
	overflow-x: hidden;
	overflow-y: scroll;
	height: var(--main-height);
	position: relative;
}

.playerContainer {
	position: absolute;
	z-index: 10;
	bottom: var(--player-height);
	width: var(--player-width);
	left: calc(50% - var(--player-width) / 2);
}
