.player {
	height: 100px;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: rgba(0, 0, 0, 0.5);

	border-radius: var(--border-radius);
}

.image {
	border-radius: var(--border-radius);
}

.info {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.controlsCenter {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: black;
	border-radius: 100px;
	width: 50px;
	height: 50px;

	position: relative;
}
